#event-popup{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
    position: fixed;
    z-index: 2000;
    text-align: center;
}
#popup-content{
    width: 50vw;
    height: 80vh;
    margin: auto 0 0 25vw;
    background: white;
    color: black;
    z-index: 2000;
}
#popup-content a{
    cursor: pointer;
}