/*general html elements*/
html, body{
    background: grey;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    margin: 0.5rem 0 0 0;
    font-size: 3rem;
}

.content{
    text-align: center;
    padding: 10rem 0 0 0;
    color: white;
}

.content button {
        margin: 2rem 0 0 0;
        background-color: white ;
        /*text-align: left; */
        float: center;
        padding: 14px 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000 ; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 30px;
    color: black; 
}

/*header elements*/
.header{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    height: 10rem;
    text-align: center;
    background: inherit;
}


/*menu*/
.menu {
    list-style-type: none;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 20vw;
    left: 40vw;
    right: auto;
    bottom: 0; 
    position: absolute;
    overflow: hidden;
    background-color: #333;
    display: none;
}
.menu li {
    float: left;
    flex-grow: 1;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.event-info{
    z-index: 900;
    position: relative;
    text-overflow: ellipsis;
}
.event-info h1{
    text-overflow: ellipsis;
}
#event-feed {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
 /*.image-holder{
    width: 100%;  
    height: 100%;
    overflow: none;
}*/
/*event card*/
.event-card{
    border: 1px solid white;
    width: 20vw;
    height: 20vh;
    margin: 5rem 5rem 5rem 5rem;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    position: relative;
    background-color: black;
}
.event-card img {
     width: 20vw;  
     height: 20vh;
     opacity: 0.5;
     position: absolute;
     top: 0;
     left: 0;
}
.event-more{
    border: 1px solid white;
    width: 20vw;
    height: 20vh;
    margin: 5rem 5rem 5rem 5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}
/*upcoming event banner*/
.upcoming-event-banner{
    width: 75vw;
    height: 8vh;
    margin: 0 auto 0 auto;
    background: white;
    right: 12.5vw;
    left: auto;
    text-align: center;
    display:none;
}

#fb-login-button{
    position: absolute;
    z-index: 50000;
    top: 1rem;
    margin-left: 0;
    
}