/*general html elements*/
html, body{
    background: black;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    margin: 0.5rem 0 0 0;
    font-size: 3rem;
}

.content{
    text-align: center;
    padding: 12rem 0 0 0;
    color: rgb(26, 23, 23);
}

#create-button {
        margin: 2rem 0 0 0;
        background-color: "#A4F0B7" ;
        /*text-align: left; */
        float: center;
        padding: 14px 40px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000 ; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 30px;
    color: block;
}
#serious {
    font-size: 16px;
    padding: 14px 40px;
}

/*header elements*/
.header{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
    height: 12rem;
    text-align: center;
    background: inherit;
}
#my-events-link{
    margin: 1rem 0 1rem 0;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.event-info{
    z-index: 900;
    position: relative;
    text-overflow: ellipsis;
}
.event-info h1{
    text-overflow: ellipsis;
}
#event-feed {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*event card*/
.event-card{
    border: 1px solid rgb(26, 23, 23);
    width: 20vw;
    height: 20vh;
    margin: 2rem 4rem 2rem 4rem;
    padding: 1rem 0.4rem 1rem 0.4rem;
    position: relative;
    background-color: white;
    overflow: hidden;
}
.event-card h2{
    font-size: 1.5rem;
    
}
.event-card img {
     width: 20vw;  
     height: 20vh;
     opacity: 0.5;
     position: absolute;
     top: 0;
     left: 0;
}
/*upcoming event banner*/
.upcoming-event-banner{
    width: 75vw;
    height: 8vh;
    margin: 0 auto 0 auto;
    background: white;
    right: 12.5vw;
    left: auto;
    text-align: center;
    display:none;
}

#fb-login-button{
    position: absolute;
    z-index: 50000;
    top: 1rem;
    margin-left: 0;
    
}

/*menu*/
.menu {
    list-style-type: none;
    margin: 0 36vw 0 44vw;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
.menu li {
    float: left;
    flex-grow: 1;
}
.menu li a {
    display: block;
    color: #0275d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.my-event-card{
    border: solid 1px white;
    width: 50vw;
    height: 4rem;
    margin: 1rem 25vw 1rem 25vw;
    padding: 1rem 1rem 1rem 1rem;
}
.my-event-card h2{
    cursor: pointer;
    font-size: 2rem;
    color: white
}